* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: white;
  max-width: 80%;
  margin: auto;
  padding-top: 20px;
  padding-right: 9px;
  padding-left: 9px;
}

#heading{
  float: left;
  font-family: 'Gravitas One', cursive;
  text-decoration: none;
}


a:link, a:visited{
  color: black;
  text-decoration: none;
}
/* Style the topnav links */
.topnav-link {
  font-family: 'Open Sans', sans-serif;
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding-top: 15px;
  padding-left: 14px;
  text-decoration: none;
}

.topnav h1 a:hover{
  color: #eaa852;
}
/* Change color on hover */
.topnav a:hover {
  background-color: white;
  color: gray;
}

/* Style the content */
.content {
  background-color: white;
  padding: 10px;
  max-width: 80%; 
  margin: auto;
}

/* Style the footer */
.footer {
  background-color: white;
  font-size: 12px;
  clear: both;
  text-align: center;
  margin: auto;
  padding: 15px;
  position: relative;
}

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}




/*About Me*/
.subtitle{
  font-family: 'Gravitas One', cursive;
  font-size: 30px;
  text-decoration: none;
  text-align: left;
}

#about-me-wrapper{
  max-width: 80%
  margin: auto;
}

#profile-pic-container{
  max-width: 50%;
  float: left;
}

#profile-pic{
  max-width: 90%;
}

#bio-container{
  max-width: 50%
  float: right;
}

#ul-container{
  display: inline-block;
}

#email-button{
  background-color: black;
  width: 50%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
